*{
    margin: 0;
    font-family:'Righteous', cursive; 
    transition: all 0.4s ease-in-out;
}

body {
    background: url(../images/slss.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #c5c6c7;
}

nav {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}

nav ul {
    list-style: none;
    width: 470px;
    background-color: #1f2833;
    padding: 24px 0px;
    height: 100vh;
    clip-path: circle(10% at 10% 5%);
}

nav ul:hover {
clip-path: circle(100% at -45% 10%);
}

nav ul .menu {
    width: 48px;
    height: 40px;
    position: relative;
    margin-bottom: 24px;
    margin-left: 24px;

}

nav ul .menu span {
    position: absolute;
    left: 0;
    background-color:#c5c6c7;
    padding: 2px;
    width: 48px;
    border-radius: 4px;
}

nav .menu span:nth-child(1) {
    top: 0px;

}
nav .menu span:nth-child(2) {
    top:18px;
    width: 28px;

}
nav .menu span:nth-child(3) {
    bottom: 0px;
    width: 40px; 
}

nav ul.active .menu span:nth-child(1) {
top: 0px;
left: 23px;
width: 4px;
height: 40px;
}

nav ul.active .menu span:nth-child(2) {
width: 40px;
left: 5px;
}

nav ul.active .menu span:nth-child(3) {
padding: 0px;
width: 0px;
}

nav ul.active .menu {
    transform: rotateZ(45deg);
}

nav ul li {
    padding: 24px 48px;
    color:#66fcf1;
    text-transform: uppercase;


}

nav ul li:hover {
    background-color: #cfc5c7;
    padding-left: 56px;
}
.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.container span {
text-transform: uppercase;
display: block;
}
.text1 {
    color: #1f2833;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
}
.text2 {
    font-size: 30px;
    color: #66fcf1;

}

@keyframes text {
    0%{
        color:#c5c6c7;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
p {
    color: #1f2833;
}
.line {
    position: relative;
    top: 30%;
    width: 16rem;
    border-right: 2px solid rgba(255,255,255,0.75);
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translate(-50%);
    margin-top: 500px;
    margin-left: 770px;
}
.anim-typewriter {
    animation: typewriter 4s steps(40) 1s normal both,
    blinkTextCursor 500ms steps(40) infinite normal
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 1000px;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: #66fcf1;
    }
    to {
        border-right-color: transparent;
    }
}
.footer{
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    background-color:#1f2833;
    width: 100%;
    text-align: center;
    color:#c5c6c7;
    display: block;
  }
  @media screen and (max-width: 1306px) {
    .line {display: none;}
    
  }
  a{
      text-decoration: none;
  }
  #color{
float: right;
margin-right: 20px;
margin-top: 20px;
  }
  #button1{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
  #font_family{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }
  