*{
    margin: 0;
    font-family:'Righteous', cursive; 
    transition: all 0.4s ease-in-out;
}

nav {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}

nav ul {
    list-style: none;
    width: 470px;
    background-color: #1f2833;
    padding: 24px 0px;
    height: 100vh;
    clip-path: circle(10% at 10% 5%);
}

nav ul:hover {
clip-path: circle(100% at -45% 10%);
}

nav ul .menu {
    width: 48px;
    height: 40px;
    position: relative;
    margin-bottom: 24px;
    margin-left: 24px;

}

nav ul .menu span {
    position: absolute;
    left: 0;
    background-color: #cfc5c7;
    padding: 2px;
    width: 48px;
    border-radius: 4px;
}

nav .menu span:nth-child(1) {
    top: 0px;

}
nav .menu span:nth-child(2) {
    top:18px;
    width: 28px;

}
nav .menu span:nth-child(3) {
    bottom: 0px;
    width: 40px; 
}

nav ul.active .menu span:nth-child(1) {
top: 0px;
left: 23px;
width: 4px;
height: 40px;
}

nav ul.active .menu span:nth-child(2) {
width: 40px;
left: 5px;
}

nav ul.active .menu span:nth-child(3) {
padding: 0px;
width: 0px;
}

nav ul.active .menu {
    transform: rotateZ(45deg);
}

nav ul li {
    padding: 24px 48px;
    color:#66fcf1;
    text-transform: uppercase;
}

nav ul li:hover {
    background-color: #cfc5c7;
    padding-left: 56px;
}
a:hover{
    text-decoration: none;
    
}